<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/WEB CSS.css">
    <script defer src="../static/Fine Dine JS.js"></script>
    <title>Find Dine - My Account</title>
</head>
<body>
<header>
    <img src="../static/pics/small logo.png" alt="Find Dine Logo" class="logo">
    <div class="typewriter"><h1>החשבון שלי</h1></div>

    <nav>
        <ul>
            <li><a href="Login & Sign-Up.html">כניסה והרשמה</a></li>
            <li><a href="search.html">חיפוש</a></li>
            <li><a href="results.html">תוצאות חיפוש</a></li>
                        <li><a href="Account.html">החשבון שלי</a></li>
        </ul>
    </nav>

</header>
 <h2>המסעדות האהובות עליי</h2>

<div class="container">
    <main>
        <div class="grid-container">
            <div class="grid-item"><h3>שם המסעדה</h3></div>
            <div class="grid-item"><h4>ביצ׳יקלטה</h4></div>
            <div class="grid-item"><h3>כתובת</h3></div>
            <div class="grid-item"><h4>נחלת בנימין 29, תל אביב</h4></div>
            <div class="grid-item"><h3>מס׳ טלפון</h3></div>
            <div class="grid-item"><h4>03-6433097</h4></div>

        </div>
        <button class="button" style="vertical-align:middle"><span>מחק מסעדה</span></button>
    </main>
    <right>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3381.1019500309017!2d34.76832481587221!3d32.06649118119234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4c8311b328b5%3A0xb5f10524d03476af!2sBicicletta!5e0!3m2!1sen!2sil!4v1671112033577!5m2!1sen!2sil" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </right>

</div>
<div class="container">
    <main>
        <div class="grid-container">
            <div class="grid-item"><h3>שם המסעדה</h3></div>
            <div class="grid-item"><h4>פו סושי</h4></div>
            <div class="grid-item"><h3>כתובת</h3></div>
            <div class="grid-item"><h4>דיזנגוף 302, תל אביב</h4></div>
            <div class="grid-item"><h3>מס׳ טלפון</h3></div>
            <div class="grid-item"><h4>03-6051000</h4></div>

        </div>
        <button class="button" style="vertical-align:middle"><span>מחק מסעדה</span></button>
    </main>
    <right>
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27046.044800325093!2d34.83900651106181!3d32.0758584461092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4bf5069206ff%3A0x8de56f3e396b2108!2z16HXldep15kg16TXlQ!5e0!3m2!1siw!2sil!4v1671180040840!5m2!1siw!2sil" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </right>

</div>
<footer>

</footer>
</body>
</html>