<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="WEB CSS.css">
    <script defer src="Fine Dine JS.js"></script>
    <title>Find Dine - Homepage</title>
</head>
<body>
<header>
    <img src="pics/2.png" alt="Find Dine Logo" class="homepage"/>
</header>
<div class="container">
    <div class="typewriter"><h2>ברוכים הבאים ל-Find Dine, מקווים שבאתם רעבים!</h2></div>
</div>
<div class="container">
    <nav>
        <ul>
            <li><a href="http://localhost:3000/LoginSignUp">כניסה והרשמה</a></li>
        </ul>
    </nav>

</div>
<div class="slider" id="main-slider">
    <div class="slider-wrapper">
        <img src="pics/pasta.jpeg" alt="First" class="slide"/>
        <img src="pics/pizza.webp" alt="Second" class="slide"/>
        <img src="pics/salad.jpeg" alt="Third" class="slide"/>
        <img src="pics/burger.jpg" alt="Forth" class="slide"/>
        <img src="pics/Sushi-01.jpeg" alt="Fifth" class="slide"/>
        <img src="pics/Chicken-Pad-Thai_9-SQ copy.jpg" alt="Sixth" class="slide"/>
    </div>
</div>
<footer>

</footer>

</body>
</html>