doctype html
html(dir='rtl', lang='he')
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='WEB CSS.css')
  script(defer='' src='Fine Dine JS.js')
  title Find Dine - Homepage
header
  img.homepage(src='pics/2.png' alt='Find Dine Logo')
.container
  .typewriter
    h2 ברוכים הבאים ל-Find Dine, מקווים שבאתם רעבים!
.container
  nav
    ul
      li
        a(href='/LoginSignUp') כניסה והרשמה
#main-slider.slider
  .slider-wrapper
    img.slide(src='pics/pasta.jpeg' alt='First')
    img.slide(src='pics/pizza.webp' alt='Second')
    img.slide(src='pics/salad.jpeg' alt='Third')
    img.slide(src='pics/burger.jpg' alt='Forth')
    img.slide(src='pics/Sushi-01.jpeg' alt='Fifth')
    img.slide(src='pics/Chicken-Pad-Thai_9-SQ copy.jpg' alt='Sixth')
footer