doctype html
html(dir='rtl', lang='he')
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='WEB CSS.css')
  script(defer='' src='Fine Dine JS.js')
  title Find Dine
header
  img.logo(src='pics/small logo.png' alt='Find Dine Logo')
  .typewriter
    h1 כניסה / הרשמה לאתר
  nav
    ul
      li
        a(href='/LoginSignUp') כניסה והרשמה
      li
        a(href='/search') חיפוש
      li
        a(href='/results') תוצאות חיפוש
      li
        a(href='/Account') החשבון שלי
block content
footer