<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/WEB CSS.css">
    <script defer src="../static/Fine Dine JS.js"></script>
    <title>Find Dine - Login & Sign-Up</title>
</head>
<body>
<header>
    <img src="../static/pics/small logo.png" alt="Find Dine Logo" class="logo">
    <div class="typewriter"><h1>כניסה / הרשמה לאתר</h1></div>
    <nav>
        <ul>
            <li><a href="Login & Sign-Up.html">כניסה והרשמה</a></li>
            <li><a href="search.html">חיפוש</a></li>
            <li><a href="results.html">תוצאות חיפוש</a></li>
            <li><a href="Account.html">החשבון שלי</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <form id="login" action="search.html" onsubmit="return empty()" method="post" class="my-form">
        <h2>כניסה לאתר</h2>
        <div class="my-group">
            <label>כתובת Email:</label>
            <input type="email" name="email" required>
        </div>
        <div class="my-group">
            <label>סיסמה:</label>
            <input type="password" name="password" required>
        </div>
        <input type="submit" value="תנו לי להיכנס!" name="submit">
    </form>

    <form id="sign-up" action="search.html" onsubmit="return empty()" method="post" class="my-form">
        <h2>הרשמה לאתר</h2>
        <div class="my-group">
            <label>כתובת Email:</label>
            <input type="email" name="email" required>
        </div>
        <div class="my-group">
            <label>סיסמה:</label>
            <input type="password" name="password" required>
        </div>
        <div class="my-group">
            <label>שם מלא:</label>
            <input type="text" name="name" required>
        </div>
        <div class="my-group">
            <label>תאריך לידה:</label>
            <input type="date" name="birthdate" required>
        </div>
        <div class="my-group">
            <label>כתובת:</label>
            <textarea name="address"></textarea>
        </div>
        <input type="submit" value="בא לי להצטרף!" name="submit">
    </form>
</div>
<footer>

</footer>
</body>
</html>