<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="WEB CSS.css">
    <script defer src="Fine Dine JS.js"></script>
    <title>Find Dine - Search</title>

</head>
<body>
<header>
    <img src="pics/small logo.png" alt="Find Dine Logo" class="logo"">
    <div class="typewriter"><h1>חיפוש</h1></div>
    <nav>
        <ul>
            <li><a href="http://localhost:3000/LoginSignUp">כניסה והרשמה</a></li>
            <li><a href="http://localhost:3000/search">חיפוש</a></li>
            <li><a href="http://localhost:3000/results">תוצאות חיפוש</a></li>
            <li><a href="http://localhost:3000/Account">החשבון שלי</a></li>
        </ul>
    </nav>
</header>

<h2>חיפוש שולחן</h2>
<div class="container">
    <form action="/findTable" onsubmit="return empty()" method="get" class="search-form">
        <div class="search-group">
            <label for="capacity">מספר סועדים:</label>
            <input type="number" name="capacity" id="capacity">
        </div>
        <div class="search-group">
            <label for="time">שעה:</label>
            <input type="time" name="time" id="time">
        </div>
        <div class="search-group">
            <label for="area">איזור גיאוגרפי:</label>
            <input type="text" name="area" id="area">
        </div>
        <div class="search-group">
            <label for="cuisine">סגנון מטבח:</label>
            <select id="cuisine" name="cuisine">
                <option value=""></option>
            </select>
            <input type="text" name="cuisine" id="cuisine">
        </div>
        <div class="container">
            <input type="submit" value="מצא לי שולחן!" name="submitSearch">
        </div>
    </form>
</div>
<div class="container">
    <div class="slider" id="main-slider">
        <div class="slider-wrapper">
            <img src="pics/pasta.jpeg" alt="First" class="slide"/>
            <img src="pics/pizza.webp" alt="Second" class="slide"/>
            <img src="pics/salad.jpeg" alt="Third" class="slide"/>
            <img src="pics/burger.jpg" alt="Forth" class="slide"/>
            <img src="pics/Sushi-01.jpeg" alt="Fifth" class="slide"/>
            <img src="pics/Chicken-Pad-Thai_9-SQ copy.jpg" alt="Sixth" class="slide"/>
        </div>
    </div>
</div>
<footer>

</footer>

</body>
</html>